<% include partials/header-logout %>

<form action="/articles" method="POST">
  <h2>Add Article</h2>
  <input type="text" name="title" placeholder="Add Title" />
  <textarea name="description" cols="30" rows="10" placeholder="Add Description"></textarea>
  <input type="text" name="tags" placeholder="Tags" />
  <input type="text" name="author" placeholder="Add Author" />
  <input type="submit" />
</form>

<% include partials/footer %>
