<% include partials/header %>
<h2>Login</h2>
<% if(error) { %>
<p><%= error%></p>
<% } %>
<form action="/users/login" method="POST">
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <button type="submit">Login</button>
</form>
<% include partials/footer %>
