<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partials/header %>
    <h1>Login</h1>
    <form action="/users" method="POST">
      <h2>Login Page</h2>

      <input type="email" name="email" placeholder="Add Email" />
      <input type="password" name="pas" placeholder="End Date" />

      <button type="submit">Submit</button>
    </form>
    <% include partials/footer %>
  </body>
</html>
