<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partials/header %>
    <h1>Users Club</h1>
    <p>Welcome to the Users Club</p>
    <% include partials/footer %>
  </body>
</html>
