<!DOCTYPE html>
<html>
  <head>
    <title>Docs</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partials/header %>
    <h1>Logged In</h1>
    <p>Congratulations, You've Successfully Logged In</p>
    <% include partials/footer %>
  </body>
</html>
